:root {
  --color-red: #e50914;
  --color-black: #141414;
}

::selection {
  color: #330709;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: "Bitter", 'Times New Roman', Times, serif;
}

body {
  background: var(--color-black);
  color: #ffffff;
}

.h2-logo {
  color: var(--color-red);
  margin-left: 5px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
  cursor: pointer;
}

header nav a:hover {
  text-decoration: underline;
  color: #ffffff;
}

.container {
  display: flex;  
  align-items: center;
  justify-content: space-between;
}

.main-movie {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url('/img/img-the-President-of-the-Unated-States.jpg') no-repeat;
  background-size: cover;
  height: 75.9vh;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 60px;
  margin-left: 27px;
  position: relative;
  bottom: 100px;
}

.main-movie .description {
  margin: 25px 390px 0 27px; 
  text-align: justify;
  text-justify: inter-word;
  font-size: 25px;
  font-weight: 800;
}

.main-movie .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#div-buttons {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}

.everyButtons {
  margin-left: 27px;
  cursor: pointer;
  background: var(--color-black);
  color: #fafafa;
  font-weight: 800;
  font-size: 15px;
  border: none;
  opacity: .6;
  padding: 5px 10px;
  height: 7vh;
  outline: none;
  width: 20%;
  border-radius: .5rem;
  transition: all ease .3s;
}

.everyButtons:hover {
  transform: translateY(-3px);
  color: var(--color-black);
  background: #fafafa;
}

#button-learn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
}

.fa-play, .fa-plus, .fa-info-circle {
  padding-right: 7px;
}
